.App {
    text-align: center;
}

.App-content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.form-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.summary {
    width: 50%;

    div {
        display: flex;
        align-items: flex-start;
        column-gap: 30px;
    }
}

.summary-grid {
    display: flex;
    flex-direction: row;

    img {
        width: 30%
    }

}

.summary-detail {
    display: flex;
    flex-direction: column;

    div {
        text-transform: uppercase;
        font-size: 15px;
        color: darkgrey;
        align-items: baseline;
        column-gap: 10px;

        span {
            text-transform: capitalize;
            color: white;
            font-size: 20px;
        }
    }

    div:last-child {
        padding-top: 10px;
    }
}

.billing {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input[type="text"] {
        height: 25px;
    }

    input[type="textarea"] {
        height: 50px;
    }

    :last-child {
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: center;
    }

    span {
        display: flex;
        color: red;
        font-size: 15px;
        margin-top: -10px;
    }
}