.store-grid {
    display: flex;
    flex-direction: column;
    width: 1000px;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

.store-sub-grid {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.store-img {
    width: 50%;
}

.store-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;

    div {
        text-transform: uppercase;
        font-size: 15px;
        color: darkgrey;

        span {
            text-transform: capitalize;
            color: white;
            font-size: 20px;
        }
    }
}

.buy-button {
    width: 20%;
    margin: 30px;
    padding: 15px;
}